# -- Name override of release
name: ""

# -- Secret configuration
secret:

  # -- External Secret configuration
  externalSecret:
    enabled: true
    nameOverride: ""

    # -- Cluster store config
    store:
      name: vault
      path: /cloudflare/tunnels
      property: token

    # -- Add additional labels
    additionalLabels: {}

  # -- Name of existing secret that contains Cloudflare token
  existingSecret:
    name: cloudflared-secret
    key: cf-tunnel-token

# -- Default image
image:
  repository: cloudflare/cloudflared
  tag: "2026.1.2"
  pullPolicy: IfNotPresent

# -- Default resources
resources:
  requests:
    cpu: 10m
    memory: 128Mi
