# -- Name override of release
name: generic-device-plugin

# -- Default image
image:
  repository: ghcr.io/squat/generic-device-plugin
  tag: latest@sha256:8e74085edef446b02116d0e851a7a5576b4681e07fe5be75c4e5f6791a8ad0f7
  pullPolicy: Always

# -- Domain used by devices for identifcation
deviceDomain: devic.es

# -- Service port
service:
  listenPort: 8080

# -- Default resources
resources:
  requests:
    cpu: 50m
    memory: 10Mi

# -- Config map
config:
  enabled: true
  # -- generic-device-plugin config file [[ref]](https://github.com/squat/generic-device-plugin#usage)
  # @default -- See [values.yaml](./values.yaml)
  data: |
    devices:
      - name: serial
        groups:
          - paths:
              - path: /dev/ttyUSB*
          - paths:
              - path: /dev/ttyACM*
          - paths:
              - path: /dev/tty.usb*
          - paths:
              - path: /dev/cu.*
          - paths:
              - path: /dev/cuaU*
          - paths:
              - path: /dev/rfcomm*
      - name: video
        groups:
          - paths:
              - path: /dev/video0
      - name: fuse
        groups:
          - count: 10
            paths:
              - path: /dev/fuse
      - name: audio
        groups:
          - count: 10
            paths:
              - path: /dev/snd
      - name: capture
        groups:
          - paths:
              - path: /dev/snd/controlC0
              - path: /dev/snd/pcmC0D0c
          - paths:
              - path: /dev/snd/controlC1
                mountPath: /dev/snd/controlC0
              - path: /dev/snd/pcmC1D0c
                mountPath: /dev/snd/pcmC0D0c
          - paths:
              - path: /dev/snd/controlC2
                mountPath: /dev/snd/controlC0
              - path: /dev/snd/pcmC2D0c
                mountPath: /dev/snd/pcmC0D0c
          - paths:
              - path: /dev/snd/controlC3
                mountPath: /dev/snd/controlC0
              - path: /dev/snd/pcmC3D0c
                mountPath: /dev/snd/pcmC0D0c
